* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1{
  font-size: 50px;
  margin: 40px;
}
h3{
  margin: 20px;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 50%;
  margin:auto;
  width: 90vw;
  height: 90vh;
}

.grid{
  margin: 10px;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.rep{
  width: 100%;
  height: 100%;
  display: grid;
}
.loading{
  margin: auto;
}
.header{
  display: flex;
}
.selector{
  margin: auto;
  margin-top: 70px;
}

@media (max-width:1001px){
  .grid-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin:auto;
    height: unset;
  }
  .grid{
    height: 300px;
    left: 0;
    right: 0;
    
    padding: 5px;
  }
  
}